html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;


}

.page {
  min-height: 100vh;
  background: #151515 !important;
  color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 60px;
}

.pragmatiqLogo img {
  width: 196px;
  height: 80px;
}

.navLinks {
  display: flex;
  gap: 46px;
}

.navLinks a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 6px 0;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  background: linear-gradient(190deg,
      #3eaae0,
      #3eaae0,
      #d22190,
      #d22190);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #3eaae0, #d22190);
  transition: width 0.3s ease;
}

.navLinks a:hover::after {
  width: 100%;
}

.active {
  color: #3eaae0;
}

.active::after {
  width: 100%;
}

.contactWrap1 {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactWrap1 :global(.ant-switch-inner) {
  font-size: 22px !important;
}

.contactWrap1 :global(.ant-switch) {
  transform: scale(1.4);
}











.top {
  position: relative;
  text-align: center;
  padding: 120px 20px;
   background: #151515 !important;
  overflow: hidden;
}

.top h1 {
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 18px;
}

.top p {
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500; 
  line-height: 1.6;
  color: #cfcfcf;
}

.frame {
  position: absolute;
  width: 80px;
  height: 60px;
  border-radius: 9px;
}


.topLeft {
  top: 40px;
  left: 230px;
  border-top: 2px solid rgba(255, 255, 255, 0.35);
  border-left: 2px solid rgba(255, 255, 255, 0.35);
}


.topRight {
 top: 40px;
  right: 230px;
  border-top: 2px solid rgba(255, 255, 255, 0.35);
  border-right: 2px solid rgba(255, 255, 255, 0.35);
}


.bottomLeft {
  bottom: 40px;
  left: 230px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  border-left: 2px solid rgba(255, 255, 255, 0.35);
}


.bottomRight {
  bottom: 40px;
  right: 230px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  border-right: 2px solid rgba(255, 255, 255, 0.35);
}
.contactButton {
  position: absolute;         
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-rl;
  background: linear-gradient(180deg, #1e90ff, #ff1493);
  color: #fff;
  font-weight: 600;
  padding: 28px  19px;
  border-radius: 8px 0 0 8px;
  text-decoration: none;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
  z-index: 10;
  transition: transform 0.3s ease;
  font-size: 16px;
}

.contactButton:hover {
  transform: translateY(-50%) scale(1.05);
}







.wrapper {
   background: #151515 !important;
  padding: 0px 0;
  display: flex;
  justify-content: center;

 zoom: 1.0;
}

.container {
  width: 1100px;
  border: 2px solid #8E8E8E;
}

.row {
  min-height: 220px; 
  border-bottom:2px solid #8E8E8E;
}

.row:last-child {
  border-bottom: none;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid  #8E8E8E;
}

.iconBox {
  position: relative;
  width: 150px;  
  height: 150px;  
  transform: scale(1.3); 
}

.iconImg {
  width: 140px !important;
  height: 180px !important;
  max-width: 420px; 
}

.right {
  padding: 40px 50px;
  color: #fff;
}

.right h3 {
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 24px;
  width: 650px;
  background: linear-gradient(180deg, #48A0FF, #D12390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.item {
  display: flex;
  gap: 16px; 
  margin-bottom: 22px; 
}

.item h4 {
  font-size: 20px;
  margin: 0 0 6px;
  font-weight: 600;
  color: #FFFFFF;
}

.item p {
  margin: 0;
  font-size: 20px; 
  line-height: 1.7;
  width: 550px; 
  color: #bdbdbd;
}
.dot {
  width: 20px;
  height: 20px;
  min-width: 20px;   
  min-height: 20px;
  background: linear-gradient(90deg, #48A0FF, #D12390);
  border-radius: 50%;
  margin-top: 6px;

}

.circle {
  width: 90px; 
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.square {
  width: 50px;  
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 6px;
}

.pink {
  background: linear-gradient(135deg, #ff4fd8, #ff7adf);
}

.blue {
  background: linear-gradient(135deg, #3f8cff, #6fc3ff);
}


.footer7 {
  position: relative;
   background: #151515 !important;
  padding: 80px 100px;
  color: #fff;
}

.container7 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left7 {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.logoWrap7 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoText7 {
  font-size: 28px;
  font-weight: 500;
  color: #dcdcdc;
}

.contactBtn7 {
  width: 150px;
  padding: 12px 0;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(135deg,
      #3eaae0,
      #3eaae0,
      #d22190,
      #d22190);

}

.right7 {
  display: flex;
  gap: 120px;
}

.column7 h4 {
  font-size: 15px;
  margin-bottom: 18px;
  font-weight: 500;
}

.column7 p {
  font-size: 13px;
  color: #cfcfcf;
  margin-bottom: 10px;
  line-height: 1.6;
}

.rightBorder7 {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(#00c6ff, #008cff);
}














.contactWrapper11 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-family: Arial, sans-serif;
  position: relative;

}
.contactCard11 {
  width: 100%;
  max-width: 420px;
  padding: 24px;
}
.contactHeader11 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.contactHeader11 h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
}
.formGroup11 {
  margin-bottom: 24px;
}
.label11 {
  display: block;
  font-size: 13px;
  color: #666;
  margin-bottom: 8px;
}
.radioGroup11 {
  display: flex;
  gap: 24px;
  font-size: 14px;
}
.radioGroup11 input {
  margin-right: 6px;
}
.input11 {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
}
.textarea11 {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 14px;
  outline: none;
  resize: none;
}
.submitWrapper11 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.submitBtn11 {
  padding: 10px 40px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}












































